target/
out
/.idea
/.idea_modules
/mill-standalone
/sireum.jar
/versions.properties
/runtime
/slang
*.cmd.jar
*.cmd.com
project.json
bin/linux/
bin/mac/
bin/win/
bin/scala/
bin/prelude*
bin/sireum*
bin/*7zz*
lib
**/.aadlbin-gen/
**/results/